

/* Flexboxes for products - Julia */
.cats {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
}

.toprow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.bottomrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex {
  flex-wrap: wrap;
  width: 256px;
  height: 256px;
  background-color: olive;
  text-align: center;
  
  padding: 5px;
  margin: 10px;
}


