@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

/* Universal */
*, *:before, *:after{
  box-sizing: border-box;
 }

 html{
  background-color: azure;
/*-========== Zian Styles =========*/


}
.header {
  display: flex;
  justify-content: space-around;
  background-color: #ffe8d6;
}



.links {
  display: flex;
  align-items: center;
  
}

.links p{
  padding-right: 45px;
  font-family: 'Bubblegum Sans', cursive;
 color: #cb997e;
 font-size: 25px;
}

.links a {
  text-decoration: none;
  color: #cb997e;
}

.links a:hover {
  text-decoration: none;
  color: #b1907f;
}

#title {
  font-family: 'Titan One', cursive;
  color: #cb997e;
  font-size: 50px;
  font-weight: 100;
}

#logo {
  margin-top: 25px;
  width: 60px;
  height: 60px;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.205);
}

/*============== Flexboxes for products - Julia =========== */
.cats {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
}

.toprow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.bottomrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex {
  flex-wrap: wrap;
  width: 256px;
  height: 256px;
  background-color: olive;
  text-align: center;
  
  padding: 5px;
  margin: 10px;
}


.catShop {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  
}

.catIndividual {
  display: flex;
  flex-flow: column wrap;
  /* flex-wrap: wrap; */
  max-width: 100%;
  max-height: 50%;
  padding: 10px;
  justify-content: center;
}

.catIndividual img {
  display: block;
  object-fit: cover; 
  /* this is to avoid the image distortion */
  max-width: 256px;
  max-height: 256px;
  width: auto;
  height: auto;
  
}
.catIndividual button {
  max-width: 256px;
  
}







/*========== NKXXX Styles ============*/

.btn-primary {
  color: #fff;
  background-color: #A5A58D;
  border-color: #6B705C;
  margin: 1em;
}

.btn-primary:hover {
  background-color: #b7b7a4 !important;
  border-color: #6B705C !important;
  color: rgb(228, 228, 228);
  transition: all linear 300ms;
}

.button_wrap {
  width: 50%;
  margin: 0 auto;
}

.btn-check:focus+.btn-primary, 
.btn-primary:focus {
  color: #fff;
  background-color: #b7b7a4 !important;
  border-color: #6B705C !important;
  /* box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%); */
}


.button_wrap {
 /* position: absolute;
 top: 30%;
 left: 20%; */
 width: 50%; /* Alter the width and height value to suit */
 height: 200px; 
 
 z-index: 10r;
}

.button_wrap img {
  max-width: 20%;
  height: 50px;
  display: block;
  overflow: hidden;
  margin-bottom: 1em;
}

